* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 800;
}
body {
    background: lightcoral
}
div.recipes {
    font-size: 14px;
    color: rgb(71, 64, 64);
    width: 800px;
    border: 10px solid darkgrey;
    padding: 25px;
    margin: 20px;
}

h3 {
    font-size: 24px;
    font-weight: 800;
}